<%- include ('partials/navbar.ejs') %>

    <div class="container text-center bg-light flex-grow-1 p-3 ">
        <h1>Loja Node JS!</h1>
        <h2>SISTEMA DE ADMNISTRAÇÃO DE DADOS</h2>
        <img src="/imgs/loja-nodejs.png" alt="lojanodejs-logo">
        <img src="" alt="">

    </div>
    

<%- include ('partials/footer.ejs') %>